<p>
  <a href="{{site.dc_site}}">Data Carpentry</a> develops and teaches workshops on the fundamental data skills needed to conduct
  research. Its target audience is researchers who have little to no prior computational experience, 
  and its lessons are domain specific, building on learners' existing knowledge to enable them to quickly 
  apply skills learned to their own research.
  Participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1005510">Good Enough Practices for Scientific Computing</a>".
  </em>
</p>
<p>This Social Sciences Data Carpentry workshop forms part of a 5-day 
<a href="http://carpentryconnectza.org">CarpentryConnect</a> event that will also include two other 3-day Carpentry workshops: Library Carpentry and Software Carpentry for a general audience. Day 4 & 5 is reserved for <a href="https://tenet-rccpii.github.io/2018-09-06-ttt-CarpentryConnect-JHB/">Carpentries instructor training</a>. 
</p>
<p>
CarpentryConnect Johannesburg 2018 is co-funded by the <a href="https://tenet-rccpii.github.io/rccpii-2018/">Rural Campuses Connection Project II</a> (RCCPII) and the <a href="https://www.sadilar.org/">South African Centre for Digital Language Resources</a> (SADiLAR) and jointly organised by these organisations along with the <a href="http://digitalhumanities.org.za">Digital Humanities Organisation of Southern Africa</a>.
</p>

