<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-r">Better Use of Spreadsheets</h3>
    <ul>
      <li>Formatting data tables in Spreadsheets</li>
      <li>Formatting problems</li>
      <li>Dates as data</li>
      <li>Quality assurance</li>
      <li>Exporting data</li>
      <li><a href="http://www.datacarpentry.org/spreadsheets-socialsci/">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-r">Open Refine</h3>
    <ul>
      <li>Introduction to OpenRefine</li>
      <li>Importing data</li>
      <li>Filtering and Sorting with OpenRefine</li>
      <li>Examining Numbers in OpenRefine</li>
      <li>Using scripts </li>
      <li>Exporting and Saving Data from OpenRefine</li>
      <li>Other Resources in OpenRefine</li>
      <li><a href="http://www.datacarpentry.org/openrefine-socialsci/">Reference...</a></li>
    </ul>
  </div>
    <div class="col-md-6">
    <h3 id="syllabus-r">Python</h3>
    <ul>
      <li>Introduction to Python</li>
      <li>Python basics</li>
      <li>Creating re-usable code</li>
      <li>Processing data from a file</li>
      <li>Data visualisation using Matplotlib</li>
      <li><a href="http://www.datacarpentry.org/python-socialsci/">Reference...</a></li>
    </ul>
  </div>
</div>
